.form__input {
    padding: 9px 5px 9px;
    border: none;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 358px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    box-sizing: border-box;
}

.form__input:last-child {
    margin-bottom: 0;
}

@media (max-width: 650px) {
    .form__input {
        width: 238px;
    }
}

.form__input_type_error {
    border-bottom-color: red;
}

.form__input-error_active {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;;
    line-height: 15px;
    color: red;
    margin-top: 5px;
    position: absolute;
    top: 33px;
    z-index: 1;
}

.form__field {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px;
    position: relative;
}
